<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body data-bs-theme="dark">
    <%- include('../partials/admin-nav') %>
    <div class="container d-flex justify-content-center my-3">
        <table class="table">
            <thead>
                <tr class="table-bordered">
                    <th>ID</th>
                    <th>Oda Numarası</th>
                    <th>Mesaj</th>
                    <th>Oluşturulma Tarihi</th>
                </tr>
            </thead>
            <tbody>
                <% messages.forEach(message => { %>
                    <tr>
                        <td>#<%= message.id %></td>
                        <td><%= message.customer.roomNumber %></td>
                        <td><%= message.message %></td>
                        <td><%= new Date(message.createdAt).toLocaleString('tr-TR') %></td>
                        <td>
                            <a href="/admin/messages/delete/<%= message.id %>" class="btn btn-outline-danger">Sil</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
