<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body data-bs-theme="dark">
    <%- include('../partials/admin-nav') %>
    <div class="container d-flex justify-content-center my-3">
        <table class="table">
            <thead>
                <tr class="table-bordered">
                    <th>ID</th>
                    <th>Müşteri</th>
                    <th>Toplam Ücret</th>
                    <th>Oda Numarası</th>
                    <th>Oluşturulma Tarihi</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <tr>
                        <td>#<%= order.id %></td>
                        <td><%= order.customer ? order.customer.name : 'Bilinmiyor' %></td>
                        <td><%= order.totalPrice.toFixed(2) %> ₺</td>
                        <td><%= order.customer ? order.customer.roomNumber : 'Bilinmiyor' %></td>
                        <td><%= new Date(order.createdAt).toLocaleString('tr-TR') %></td>
                        <td>
                            <a href="/admin/order/<%= order.id %>" class="btn btn-outline-warning">Detay</a>
                            <a href="/admin/order/delete/<%= order.id %>" class="btn btn-outline-danger">Sil</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
